![](img/511_banner.png)

# Introduction to Pandas

## Outline

- [Introduction to Pandas](#Introduction-to-Pandas)
- [Pandas Series](#Pandas-Series)
- [Pandas DataFrames](#Pandas-DataFrames)
- [Why ndarrays, Series and DataFrames?](#Why-ndarrays,-Series-and-DataFrames?)

- Create Pandas series with `pd.Series()` and Pandas dataframe with `pd.DataFrame()`
- Be able to access values from a Series/DataFrame by indexing, slicing and boolean indexing using notation such as `df[]`, `df.loc[]`, `df.iloc[]`, `df.query[]`
- Perform basic arithmetic operations between two series and anticipate the result.
- Describe how Pandas assigns dtypes to Series and what the `object` dtype is
- Read a standard `.csv` file from a local path or url using Pandas `pd.read_csv()`.
- Explain the relationship and differences between `np.ndarray`, `pd.Series` and `pd.DataFrame` objects in Python.

## Introduction to Pandas
---

![](img/lecture6/pandas.png)

- Pandas can be installed using `conda` (if not already):

```
conda install pandas
```

- We usually import pandas with the alias `pd`

In [1]:
import pandas as pd
import numpy as np

## Pandas Series
---

### What are Series?

- A Series is like a NumPy array but with labels
- They are strictly 1-dimensional and can contain any data type (integers, strings, floats, objects, etc), including a mix of them
- Series labels may be integers or strings
- Can be created from a scalar, a list, ndarray or dictionary using `pd.Series()` (**note the captial "S"**)
- Here are some example series:

![](img/lecture6/series.png)

### Creating Series

- By default, series are labelled with indices starting from 0
- For example:

In [2]:
pd.Series(data=[-5, 1.3, 21, 6, 3])

0    -5.0
1     1.3
2    21.0
3     6.0
4     3.0
dtype: float64

- But you can add a custom index:

In [3]:
pd.Series(data=[-5, 1.3, 21, 6, 3], index=["a", "b", "c", "d", "e"])

a    -5.0
b     1.3
c    21.0
d     6.0
e     3.0
dtype: float64

- From a dictionary:

In [4]:
pd.Series(data={'a': 10, 'b': 20, 'c': 30})

a    10
b    20
c    30
dtype: int64

- From an ndarray:

In [5]:
pd.Series(data=np.random.randn(5))

0    2.794854
1    0.132605
2    0.304683
3    0.297594
4   -0.371712
dtype: float64

- From a scalar:

In [6]:
pd.Series(3.141)

0    3.141
dtype: float64

In [7]:
pd.Series(data=3.141,
          index=['a', 'b', 'c'])

a    3.141
b    3.141
c    3.141
dtype: float64

### Series characteristics

- Series can be given a `name` attribute
- This is seldom used but it might come up sometimes

In [8]:
s = pd.Series(data=np.random.randn(5), name='random_series')
s

0    1.286627
1    0.289414
2   -1.621259
3   -3.095004
4    0.226705
Name: random_series, dtype: float64

In [9]:
s.name

'random_series'

In [10]:
s.rename("another_name")

0    1.286627
1    0.289414
2   -1.621259
3   -3.095004
4    0.226705
Name: another_name, dtype: float64

- You can access the index labels of your series using `.index`

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

- You can access the underlying data array using `.to_numpy()`

In [12]:
s.to_numpy()

array([ 1.28662708,  0.28941429, -1.62125875, -3.09500377,  0.22670475])

In [13]:
pd.Series([[1, 2, 3], "b", 1]).to_numpy()

array([list([1, 2, 3]), 'b', 1], dtype=object)

### Indexing and slicing series

- Series are very much like ndarrays (in fact, series can be passed to most NumPy functions!)
- They can be indexed using square brackets `[ ]` and sliced using colon `:` notation

In [14]:
s = pd.Series(data=range(5),
              index=['A', 'B', 'C', 'D', 'E'])
s

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [15]:
s[0]

0

In [16]:
s[[0, 1, 3]]

A    0
B    1
D    3
dtype: int64

In [17]:
s[0:3]

A    0
B    1
C    2
dtype: int64

- **Note** how array-based indexing and slicing also **returns the series index**
- Series are also like dictionaries, in that we can access values using index labels

In [18]:
s["A"]

0

In [19]:
s[["B", "D", "C"]]

B    1
D    3
C    2
dtype: int64

In [20]:
s["A":"C"]

A    0
B    1
C    2
dtype: int64

In [21]:
"A" in s

True

In [22]:
"Z" in s

False

- Series do allow for non-unique indexing, but **be careful** because indexing operations won't return unique values

In [23]:
x = pd.Series(data = range(5),
              index = ["A", "A", "A", "B", "C"])
x

A    0
A    1
A    2
B    3
C    4
dtype: int64

In [24]:
x["A"]

A    0
A    1
A    2
dtype: int64

- Finally, we can also do boolean indexing with series

In [25]:
s > 1

A    False
B    False
C     True
D     True
E     True
dtype: bool

In [26]:
s[s > 1]

C    2
D    3
E    4
dtype: int64

In [27]:
s[s > s.mean()]

D    3
E    4
dtype: int64

In [28]:
s[~ s%2==0]

B    1
D    3
dtype: int64

### Series operations

- Unlike ndarrays, operations between Series (`+`, `-`, `/`, `*`) align values based on their **LABELS** (not their position in the structure)
- The resulting index will be the __*sorted union*__ of the two indexes
- This gives you the flexibility to run operations on series regardless of their labels (but you might get some unexpected results!)

In [29]:
s1 = pd.Series(data=range(4),
               index=["A", "B", "C", "D"])
s1

A    0
B    1
C    2
D    3
dtype: int64

In [30]:
s2 = pd.Series(data=range(10, 14),
               index=["B", "C", "D", "E"])
s2

B    10
C    11
D    12
E    13
dtype: int64

In [31]:
s1 + s2

A     NaN
B    11.0
C    13.0
D    15.0
E     NaN
dtype: float64

- Indices that match will be operated on
- Indices that don't match will appear in the product but with `NaN` values

![](img/lecture6/series_addition.png)

- We can also perform standard operations on a series, like multiplying or squaring
- NumPy also accepts series as an argument to most functions because series are built off numpy arrays (more on that later)

In [32]:
s1 ** 2

A    0
B    1
C    4
D    9
dtype: int64

In [33]:
np.exp(s1)

A     1.000000
B     2.718282
C     7.389056
D    20.085537
dtype: float64

- Finally, just like arrays, series have many built-in methods for various operations
- You can find them all by running `help(pd.Series)`

In [34]:
print([_ for _ in dir(pd.Series) if not _.startswith("_")])  # print all common methods

['T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [35]:
s1

A    0
B    1
C    2
D    3
dtype: int64

In [36]:
s1.mean()

1.5

In [37]:
s1.sum()

6

In [38]:
s1.astype(float)

A    0.0
B    1.0
C    2.0
D    3.0
dtype: float64

- **"Chaining"** operations together is also common with pandas
- This is like the pipe operator in R `%>%`

In [39]:
s1.add(3.141).pow(2).astype(int).mean()

22.25

### Data types

- Series can hold all the data types (`dtypes`) you're used to
- e.g., `int`, `float`, `bool`, etc
- There are a few other special data types too (`object`, `DateTime` and `Categorical`) which we'll talk about in this and later lectures
- You can always read more about pandas dtypes [in the documentation too](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#dtypes)
- For example, here's a series of `dtype` int64:

In [40]:
x = pd.Series(range(5))
x.dtype

dtype('int64')

- The dtype "`object`" is used for series of strings or mixed data

In [41]:
x = pd.Series(['A', 'B'])
x

0    A
1    B
dtype: object

In [42]:
x = pd.Series(['A', 1, ["I", "AM", "A", "LIST"]])
x

0                   A
1                   1
2    [I, AM, A, LIST]
dtype: object

- While flexible, it is recommended to avoid the use of `object` dtypes because of higher memory requirements
- Essentially, in an `object` dtype series, every single element stores information about its individual dtype
- We can inspect the dtypes of all the elements in a mixed series in several ways, below I'll use the `map` method

In [43]:
x.map(type)

0     <class 'str'>
1     <class 'int'>
2    <class 'list'>
dtype: object

- We can see that each object in our series has a different dtype
- But this comes at a cost, compare the [memory usage](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.memory_usage.html) of the series below:

In [44]:
x1 = pd.Series([1, 2, 3])
x2 = pd.Series([1, 2, "3"])
x3 = pd.Series([1, 2, "3"]).astype('int8')  # coerce the object series to int8

In [45]:
print(f"x1 dtype: {x1.dtype}")
print(f"x1 memory usage: {x1.memory_usage(deep=True)} bytes\n")

print(f"x2 dtype: {x2.dtype}")
print(f"x2 memory usage: {x2.memory_usage(deep=True)} bytes\n")

print(f"x3 dtype: {x3.dtype}")
print(f"x3 memory usage: {x3.memory_usage(deep=True)} bytes\n")

x1 dtype: int64
x1 memory usage: 152 bytes

x2 dtype: object
x2 memory usage: 258 bytes

x3 dtype: int8
x3 memory usage: 131 bytes

- In summary, try to use uniform dtypes where possible - they are more memory efficient!

- One more thing, `NaN` (short for "Not a Number", frequently used to represent missing values in data) is a float:

In [46]:
type(np.NaN)

float

- This can be problematic if you have a series of **integers** and one missing value, because Pandas will cast the whole series to **float**:

In [47]:
pd.Series([1, 2, 3, np.NaN])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

- Only recently, Pandas has implemented a "[nullable integer dtype](https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html)", which can handle `NaN` in an integer series without affecting the `dtype`
- Note the captial "I" in the type below, differentiating it from numpy's `int64` dtype

In [48]:
pd.Series([1, 2, 3, np.NaN]).astype('Int64')

0       1
1       2
2       3
3    <NA>
dtype: Int64

- This is not the default in Pandas yet and functionality of this new feature is still subject to change

## Pandas DataFrames
---

### What are DataFrames?

- Pandas DataFrames are you're new best friend
- They are like the Excel spreadsheets you may be used to, and like dataframes/tibbles in R
- DataFrames are really just Series stuck together!
- Think of a DataFrame as a dictionary of series, with the "keys" being the column labels and the "values" being the series data



![](img/lecture6/dataframe.png)

### Creating DataFrames

- Dataframes can be created using `pd.DataFrame()` (note the capital "D" and "F")
- Like series, index and column labels of dataframes are labelled starting from 0 by default

In [49]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

- We can use the `index` and `columns` arguments to give them labels:

In [50]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]],
             index=["R1", "R2", "R3"],
             columns=["C1", "C2", "C3"])

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

- There are so many ways to create dataframes
- I most often create them from dictionaries or ndarrays

In [51]:
pd.DataFrame({"C1": [1, 2, 3],
              "C2": ['A', 'B', 'C']},
             index=["R1", "R2", "R3"])

    C1 C2
R1   1  A
R2   2  B
R3   3  C

In [52]:
pd.DataFrame(np.random.randn(5, 5),
             index=[f"row_{_}" for _ in range(1, 6)],
             columns=[f"col_{_}" for _ in range(1, 6)])

          col_1     col_2     col_3     col_4     col_5
row_1  0.273669 -0.258445  1.159853 -0.474350  0.619827
row_2 -0.820719  1.349434 -0.845556  0.682211  0.489591
row_3 -0.897907 -1.599034 -0.593104 -1.473405 -0.623422
row_4  0.290411 -0.641381  0.069626  1.290663 -0.671026
row_5  1.838818 -0.082071  0.893120 -0.945044  0.800744

In [53]:
pd.DataFrame(np.array([['Arman', 7], ['Mike', 15], ['Tiffany', 3]]))

         0   1
0    Arman   7
1     Mike  15
2  Tiffany   3

- But here's a table of the main ways you can create dataframes
- See the [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) for more:

|Create DataFrame from|Code|
|---|---|
|Lists of lists|`pd.DataFrame([['Arman', 7], ['Mike', 15], ['Tiffany', 3]])`|
|ndarray|       `pd.DataFrame(np.array([['Arman', 7], ['Mike', 15], ['Tiffany', 3]]))`|
|Dictionary|    `pd.DataFrame({"Name": ['Arman', 'Mike', 'Tiffany'], "Number": [7, 15, 3]})`|
|List of tuples|`pd.DataFrame(zip(['Arman', 'Mike', 'Tiffany'], [7, 15, 3]))`|
|Series|        `pd.DataFrame({"Name": pd.Series(['Arman', 'Mike', 'Tiffany']), "Number": pd.Series([7, 15, 3])})`|

### Indexing and slicing DataFrames

- There are several main ways to select data from a DataFrame:
    1. `[]`
    2. `.loc[]`
    3. `.iloc[]`
    4. Boolean indexing
    5. `.query()`

In [54]:
df = pd.DataFrame({"Name": ["Arman", "Mike", "Tiffany"],
                   "Language": ["Python", "Python", "R"],
                   "Courses": [511, 512, 523]},
                   index=["Inst1", "Inst2", "Inst3"])
df

          Name Language  Courses
Inst1    Arman   Python      511
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

#### Indexing with `[]`
- Select columns by single labels, lists of labels, or slices

In [55]:
df['Name']  # returns a series

Inst1      Arman
Inst2       Mike
Inst3    Tiffany
Name: Name, dtype: object

In [56]:
df[['Name']]  # returns a dataframe!

          Name
Inst1    Arman
Inst2     Mike
Inst3  Tiffany

In [57]:
df[['Name', 'Language']]

          Name Language
Inst1    Arman   Python
Inst2     Mike   Python
Inst3  Tiffany        R

- You can only index rows by using slices, not single values (but not recommended, see preferred methods below)

In [68]:
df[0] # doesn't work

KeyError: 0

In [58]:
df[0:2] # does work

        Name Language  Courses
Inst1  Arman   Python      511
Inst2   Mike   Python      512

In [59]:
df[1:] # does work

          Name Language  Courses
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

#### Indexing with `.loc` and `.iloc`
- Pandas created the methods `.loc[]` and `.iloc[]` as more flexible alternatives for accessing data from a dataframe
- Indexing with integers: `df.iloc[]`
- Indexing with labels: `df.loc[]`
- These are typically the [recommended methods of indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated)
- **Note**: when you want to modify data in a dataframe you *should* use `.loc` or `.iloc` as opposed to `[]` or you'll run into the common Pandas warning `SettingWithCopy` warning which we'll look at later

In [60]:
df

          Name Language  Courses
Inst1    Arman   Python      511
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

- First we'll try out `.iloc` which accepts *integers* as references to rows/columns

In [61]:
df.iloc[0]  # returns a series

Name         Arman
Language    Python
Courses        511
Name: Inst1, dtype: object

In [62]:
df.iloc[0:2]  # slicing returns a dataframe

        Name Language  Courses
Inst1  Arman   Python      511
Inst2   Mike   Python      512

In [63]:
df.iloc[2: 5, 1:4]  # returns the indexed object

      Language  Courses
Inst3        R      523

In [64]:
df.iloc[[0, 2], [0, 2]]  # returns a dataframe

          Name  Courses
Inst1    Arman      511
Inst3  Tiffany      523

- Now let's look at `.loc` which accepts *labels* as references to rows/columns

In [79]:
df.loc[:, 'Name']

Inst1      Arman
Inst2       Mike
Inst3    Tiffany
Name: Name, dtype: object

In [90]:
df.loc[:, 'Name':'Courses']

          Name Language  Courses
Inst1    Arman   Python      511
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

In [82]:
df.loc[['Inst1', 'Inst3'], ['Language']]

      Language
Inst1   Python
Inst3        R

In [83]:
df.loc[0]  # won't work

KeyError: 0

- Sometimes we want to use a mix of integers and labels to reference data in a dataframe
- The easiest way to do this is to use `.loc[]` with a label then use an integer in combinations with `.index` or `.columns`

In [91]:
df.index

Index(['Inst1', 'Inst2', 'Inst3'], dtype='object')

In [92]:
df.columns

Index(['Name', 'Language', 'Courses'], dtype='object')

In [93]:
df.loc[df.index[0], 'Courses']  # I want to reference the first row and the column named "Courses"

511

In [94]:
df.loc['Inst2', df.columns[1]]  # I want to reference row "2" and the second column

'Python'

#### Boolean indexing
- Just like with series, we can select data based on boolean masks

In [95]:
df

          Name Language  Courses
Inst1    Arman   Python      511
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

In [96]:
df[df['Courses'] > 511]

          Name Language  Courses
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

In [97]:
df[df['Name'] == "Arman"]

        Name Language  Courses
Inst1  Arman   Python      511

#### Indexing with `.query()`
- Boolean masks work fine, but I prefer to use the `.query()` method for selecting data
- `df.query()` is a powerful tool for filtering data, much like the `dplyr::filter()` function in R
- It has an odd syntax, one of the strangest I've seen in Python, it is more like SQL 
- `df.query()` accepts a string expression to evaluate and it "knows" the names of the columns in your dataframe

In [102]:
df.query("Courses > 511 & Language == 'Python'")

       Name Language  Courses
Inst2  Mike   Python      512

- (Note the use of single quotes AND double quotes above, lucky we have both in Python!)
- Compare this to the equivalent boolean indexing operation and you can see that `.query()` is much more readable, especially as the query gets bigger!

In [101]:
df[(df['Courses'] > 511) & (df['Language'] == 'Python')]

       Name Language  Courses
Inst2  Mike   Python      512

- Query also allows you to reference variable in the current workspace using the `@` symbol

In [103]:
course_threshold = 511
df.query("Courses > @course_threshold")

          Name Language  Courses
Inst2     Mike   Python      512
Inst3  Tiffany        R      523

#### Indexing cheatsheet

|Method|Syntax|Output|
|---|---|---|
|Select column|`df[col_label]`|Series|
|Select row slice|`df[row_1_int:row_2_int]`|DataFrame|
|Select row/column by label|`df.loc[row_label(s), col_label(s)]`|Object for single selection, Series for one row/column, otherwise DataFrame|
|Select row/column by integer|`df.iloc[row_int(s), col_int(s)]`|Object for single selection, Series for one row/column, otherwise DataFrame|
|Select by row integer & column label|`df.loc[df.index[row_int], col_label]`|Object for single selection, Series for one row/column, otherwise DataFrame|
|Select by row label & column integer|`df.loc[row_label, df.columns[col_int]]`|Object for single selection, Series for one row/column, otherwise DataFrame|
|Select by boolean|`df[bool_vec]`|Object for single selection, Series for one row/column, otherwise DataFrame|
|Select by boolean expression|`df.query("expression")`|Object for single selection, Series for one row/column, otherwise DataFrame|

### Reading/Writing data from external sources

#### `.csv` files

- A lot of the time you will be loading `.csv` files for use in pandas
- You can use the `pd.read_csv()` function for this
- Here we'll take a look at the [historical weather data of the Vancouver International Airport](https://climate.weather.gc.ca/historical_data/search_historic_data_e.html)
- There are so many arguments that can be used to help read in your .csv file in an efficient and appropriate manner, feel free to check them out now (by using `shift + tab` in Jupyter, or typing `?pd.read_csv`)

In [104]:
path = 'data/YVR_weather_data.csv'
df = pd.read_csv(path)
df

,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),Mean Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Extr Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,Jan-37,1937,1,0.6,NaN,-8.1,NaN,-3.8,NaN,6.1,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb-37,1937,2,5.2,NaN,-1.3,NaN,2.0,NaN,10.0,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar-37,1937,3,11.7,NaN,2.9,NaN,7.3,NaN,17.2,...,0.0,NaN,59.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr-37,1937,4,11.9,NaN,4.8,NaN,8.4,NaN,16.1,...,0.0,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,May-37,1937,5,16.3,NaN,6.6,NaN,11.5,NaN,20.6,...,0.0,NaN,44.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Feb-13,2013,2,7.8,NaN,3.0,NaN,5.4,NaN,10.4,...,0.0,NaN,74.4,NaN,0.0,NaN,28.0,E,63.0,E
913,Mar-13,2013,3,10.5,NaN,3.9,NaN,7.2,NaN,15.7,...,0.0,NaN,108.0,NaN,0.0,NaN,27.0,NaN,80.0,NaN
914,Apr-13,2013,4,12.8,NaN,6.2,NaN,9.5,NaN,17.2,...,0.0,T,115.8,NaN,0.0,NaN,29.0,E,76.0,E
915,May-13,2013,5,17.1,NaN,9.5,NaN,13.3,NaN,22.2,...,0.0,NaN,66.0,NaN,0.0,NaN,30.0,E,54.0,E
916,Jun-13,2013,6,19.3,I,11.5,I,15.4,I,22.0,...,0.0,I,2.8,I,NaN,NaN,29.0,I,44.0,I

- You can print a dataframe to .csv using `df.to_csv()`
- Be sure to check out all of the possible arguments to write your dataframe exactly how you want it

#### url

- Pandas also facilitates reading directly from a url
- `pd.read_csv()` accepts urls as input
- For example, take a look at 10 random rows of the [WHO Covid Situation Report](https://github.com/CSSEGISandData/COVID-19/tree/master/who_covid_19_situation_reports):

In [105]:
url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'
pd.read_csv(url)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
149068,2021-09-18,ZW,Zimbabwe,AFRO,264,127632,2,4562
149069,2021-09-19,ZW,Zimbabwe,AFRO,107,127739,1,4563
149070,2021-09-20,ZW,Zimbabwe,AFRO,199,127938,4,4567
149071,2021-09-21,ZW,Zimbabwe,AFRO,248,128186,2,4569
149072,2021-09-22,ZW,Zimbabwe,AFRO,0,128186,0,4569

#### Other
- Pandas can read data from all sorts of other file types including HTML, JSON, Excel, Parquet, Feather, etc
- There are generally dedicated functions for reading these file types, see the [Pandas documentation here](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

### Common DataFrame operations

- DataFrames have built-in functions for performing most common operations, e.g., `.sample()`, `.min()`, `idxmin()`, `sort_values()`, etc
- They're all documented in the [Pandas documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [106]:
df = pd.read_csv('data/YVR_weather_data.csv')
df

,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),Mean Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Extr Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,Jan-37,1937,1,0.6,NaN,-8.1,NaN,-3.8,NaN,6.1,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb-37,1937,2,5.2,NaN,-1.3,NaN,2.0,NaN,10.0,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar-37,1937,3,11.7,NaN,2.9,NaN,7.3,NaN,17.2,...,0.0,NaN,59.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr-37,1937,4,11.9,NaN,4.8,NaN,8.4,NaN,16.1,...,0.0,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,May-37,1937,5,16.3,NaN,6.6,NaN,11.5,NaN,20.6,...,0.0,NaN,44.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Feb-13,2013,2,7.8,NaN,3.0,NaN,5.4,NaN,10.4,...,0.0,NaN,74.4,NaN,0.0,NaN,28.0,E,63.0,E
913,Mar-13,2013,3,10.5,NaN,3.9,NaN,7.2,NaN,15.7,...,0.0,NaN,108.0,NaN,0.0,NaN,27.0,NaN,80.0,NaN
914,Apr-13,2013,4,12.8,NaN,6.2,NaN,9.5,NaN,17.2,...,0.0,T,115.8,NaN,0.0,NaN,29.0,E,76.0,E
915,May-13,2013,5,17.1,NaN,9.5,NaN,13.3,NaN,22.2,...,0.0,NaN,66.0,NaN,0.0,NaN,30.0,E,54.0,E
916,Jun-13,2013,6,19.3,I,11.5,I,15.4,I,22.0,...,0.0,I,2.8,I,NaN,NaN,29.0,I,44.0,I

In [108]:
df.sample(10)

,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),Mean Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Extr Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
306,Jul-62,1962,7,21.6,NaN,12.7,NaN,17.2,NaN,26.1,...,0.0,NaN,25.4,NaN,0.0,NaN,27.0,NaN,50.0,NaN
659,Dec-91,1991,12,8.2,NaN,2.9,NaN,5.5,NaN,11.6,...,0.0,NaN,95.8,NaN,0.0,NaN,30.0,NaN,100.0,NaN
638,Mar-90,1990,3,10.6,NaN,2.3,NaN,6.5,NaN,14.4,...,0.2,NaN,107.8,NaN,0.0,NaN,12.0,NaN,61.0,NaN
215,Dec-54,1954,12,7.3,NaN,2.2,NaN,4.8,NaN,11.1,...,0.0,T,134.9,NaN,0.0,NaN,NaN,NaN,NaN,NaN
775,Aug-01,2001,8,21.2,NaN,13.7,NaN,17.5,NaN,25.1,...,0.0,NaN,88.4,NaN,0.0,NaN,13.0,E,52.0,E
7,Aug-37,1937,8,20.6,NaN,10.7,NaN,15.7,NaN,24.4,...,0.0,NaN,58.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,Oct-70,1970,10,12.4,NaN,4.7,NaN,8.6,NaN,21.1,...,0.0,NaN,65.5,NaN,0.0,NaN,29.0,NaN,61.0,NaN
829,Feb-06,2006,2,7.8,NaN,0.7,NaN,4.3,NaN,12.0,...,0.0,T,57.0,NaN,0.0,NaN,29.0,E,80.0,E
778,Nov-01,2001,11,10.5,NaN,4.9,NaN,7.8,NaN,16.1,...,0.0,T,141.9,NaN,0.0,NaN,28.0,E,82.0,E
230,Mar-56,1956,3,7.9,NaN,1.8,NaN,4.9,NaN,12.8,...,16.3,NaN,116.8,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [109]:
df.max(numeric_only=True)

Year                          2013.0
Month                           12.0
Mean Max Temp (°C)              25.6
Mean Min Temp (°C)              15.6
Mean Temp (°C)                  20.6
Extr Max Temp (°C)              34.4
Extr Min Temp (°C)              13.2
Total Rain (mm)                350.8
Total Snow (cm)                121.9
Total Precip (mm)              350.8
Snow Grnd Last Day (cm)         48.0
Dir of Max Gust (10's deg)      32.0
Spd of Max Gust (km/h)         129.0
dtype: float64

In [110]:
df['Extr Max Temp (°C)'].max()

34.4

In [111]:
df['Extr Max Temp (°C)'].idxmax()

870

In [112]:
df.iloc[870]

Date/Time                     Jul-09
Year                            2009
Month                              7
Mean Max Temp (°C)              24.1
Mean Max Temp Flag               NaN
Mean Min Temp (°C)              15.0
Mean Min Temp Flag               NaN
Mean Temp (°C)                  19.6
Mean Temp Flag                   NaN
Extr Max Temp (°C)              34.4
Extr Max Temp Flag               NaN
Extr Min Temp (°C)              10.6
Extr Min Temp Flag               NaN
Total Rain (mm)                 20.0
Total Rain Flag                  NaN
Total Snow (cm)                  0.0
Total Snow Flag                  NaN
Total Precip (mm)               20.0
Total Precip Flag                NaN
Snow Grnd Last Day (cm)          0.0
Snow Grnd Last Day Flag          NaN
Dir of Max Gust (10's deg)      30.0
Dir of Max Gust Flag               B
Spd of Max Gust (km/h)          48.0
Spd of Max Gust Flag               B
Name: 870, dtype: object

In [117]:
df.mean(axis=None, numeric_only=True)

Year                          1974.713195
Month                            6.477644
Mean Max Temp (°C)              13.694547
Mean Min Temp (°C)               6.319193
Mean Temp (°C)                  10.030643
Extr Max Temp (°C)              19.160742
Extr Min Temp (°C)               1.001309
Total Rain (mm)                 90.259235
Total Snow (cm)                  3.799890
Total Precip (mm)               93.862144
Snow Grnd Last Day (cm)          0.420655
Dir of Max Gust (10's deg)      23.188427
Spd of Max Gust (km/h)          61.519288
dtype: float64

- Some methods require arguments to be specified, like `.sort_values()`

In [120]:
df.sort_values(by='Extr Max Temp (°C)', ascending=False)

,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),Mean Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Extr Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
870,Jul-09,2009,7,24.1,NaN,15.0,NaN,19.6,NaN,34.4,...,0.0,NaN,20.0,NaN,0.0,NaN,30.0,B,48.0,B
283,Aug-60,1960,8,20.3,NaN,13.0,NaN,16.7,NaN,33.3,...,0.0,NaN,67.6,NaN,0.0,NaN,27.0,NaN,58.0,NaN
738,Jul-98,1998,7,23.3,NaN,15.3,NaN,19.3,NaN,31.9,...,0.0,NaN,39.8,NaN,0.0,NaN,30.0,E,41.0,E
643,Aug-90,1990,8,23.6,NaN,14.4,NaN,19.0,NaN,31.9,...,0.0,NaN,38.0,NaN,0.0,NaN,11.0,NaN,43.0,NaN
294,Jul-61,1961,7,23.3,NaN,14.3,NaN,18.8,NaN,31.7,...,0.0,NaN,37.3,NaN,0.0,NaN,27.0,NaN,53.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Jan-55,1955,1,5.6,NaN,1.5,NaN,3.6,NaN,8.3,...,0.5,NaN,85.9,NaN,0.0,NaN,NaN,NaN,NaN,NaN
229,Feb-56,1956,2,4.2,NaN,-0.9,NaN,1.7,NaN,7.8,...,35.8,NaN,110.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
156,Jan-50,1950,1,-2.9,NaN,-9.7,NaN,-6.3,NaN,7.8,...,94.0,NaN,138.2,NaN,20.0,NaN,NaN,NaN,NaN,NaN
384,Jan-69,1969,1,0.1,NaN,-5.8,NaN,-2.9,NaN,6.7,...,64.8,NaN,126.7,NaN,23.0,NaN,29.0,NaN,56.0,NaN
0,Jan-37,1937,1,0.6,NaN,-8.1,NaN,-3.8,NaN,6.1,...,NaN,M,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
df.sort_values(by='Extr Max Temp (°C)', ascending=False).loc[:, ['Date/Time', 'Extr Max Temp (°C)']]

    Date/Time  Extr Max Temp (°C)
870    Jul-09                34.4
283    Aug-60                33.3
738    Jul-98                31.9
643    Aug-90                31.9
294    Jul-61                31.7
..        ...                 ...
216    Jan-55                 8.3
229    Feb-56                 7.8
156    Jan-50                 7.8
384    Jan-69                 6.7
0      Jan-37                 6.1

[917 rows x 2 columns]

- Some methods will operate on the index/columns, like `.sort_index()`

In [123]:
df.sample(20).sort_index()

,Date/Time,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),Mean Min Temp Flag,Mean Temp (°C),Mean Temp Flag,Extr Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
5,Jun-37,1937,6,20.1,NaN,10.4,NaN,15.3,NaN,26.1,...,0.0,NaN,100.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Apr-39,1939,4,13.7,NaN,4.3,NaN,9.0,NaN,21.7,...,0.0,NaN,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Aug-39,1939,8,22.4,NaN,12.2,NaN,17.3,NaN,28.9,...,0.0,NaN,14.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Feb-40,1940,2,8.8,NaN,2.2,NaN,5.5,NaN,12.8,...,4.8,NaN,141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Aug-48,1948,8,19.9,NaN,12.8,NaN,16.4,NaN,23.3,...,0.0,NaN,75.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN
155,Dec-49,1949,12,5.1,NaN,-0.6,NaN,2.3,NaN,11.1,...,12.4,NaN,168.7,NaN,0.0,T,NaN,NaN,NaN,NaN
170,Mar-51,1951,3,6.6,NaN,0.0,NaN,3.3,NaN,12.8,...,41.1,NaN,110.7,NaN,0.0,NaN,NaN,NaN,NaN,NaN
189,Oct-52,1952,10,15.4,NaN,6.6,NaN,11.0,NaN,18.9,...,0.0,NaN,35.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
315,Apr-63,1963,4,13.0,NaN,5.1,NaN,9.1,NaN,16.7,...,0.0,NaN,72.6,NaN,0.0,NaN,7.0,NaN,55.0,NaN
340,May-65,1965,5,15.1,NaN,6.2,NaN,10.7,NaN,21.7,...,0.0,NaN,52.3,NaN,0.0,NaN,27.0,NaN,56.0,NaN
363,Apr-67,1967,4,11.4,NaN,3.4,NaN,7.4,NaN,15.6,...,0.3,NaN,57.2,NaN,0.0,NaN,27.0,NaN,50.0,NaN
365,Jun-67,1967,6,21.3,NaN,12.2,NaN,16.8,NaN,27.8,...,0.0,NaN,11.7,NaN,0.0,NaN,32.0,NaN,43.0,NaN
403,Aug-70,1970,8,21.1,NaN,11.9,NaN,16.5,NaN,26.7,...,0.0,NaN,5.8,NaN,0.0,NaN,27.0,NaN,45.0,NaN
572,Sep-84,1984,9,18.1,NaN,9.6,NaN,13.9,NaN,23.7,...,0.0,NaN,41.6,NaN,0.0,NaN,28.0,NaN,54.0,NaN
614,Mar-88,1988,3,10.2,NaN,3.4,NaN,6.8,NaN,13.6,...,0.0,NaN,138.2,NaN,0.0,NaN,13.0,S,67.0,S
651,Apr-91,1991,4,12.7,NaN,4.8,NaN,8.8,NaN,17.2,...,0.0,NaN,111.3,NaN,0.0,NaN,9.0,S,54.0,S
764,Sep-00,2000,9,18.8,NaN,11.1,NaN,15.0,NaN,24.1,...,0.0,NaN,48.0,NaN,0.0,NaN,29.0,E,48.0,E
776,Sep-01,2001,9,18.1,NaN,11.4,NaN,14.8,NaN,20.9,...,0.0,NaN,43.6,NaN,0.0,NaN,30.0,E,50.0,E
819,Apr-05,2005,4,14.0,NaN,6.2,NaN,10.1,NaN,20.2,...,0.0,NaN,90.2,NaN,0.0,NaN,13.0,B,50.0,B
848,Sep-07,2007,9,17.6,NaN,10.8,NaN,14.2,NaN,22.4,...,0.0,NaN,73.6,NaN,0.0,NaN,30.0,E,57.0,E

### Categoricals (OPTIONAL)

- Pandas has an equivalent `categoricals` AS `factors` in R
- A categorical variable in Pandas is one that takes a discrete number of possible values (called `"Categories"` here and `"Levels"` in R) and maybe be inherently ordered, e.g., `Temperature = ['Cold', 'Warm', 'Hot']`
- We can define a categorical by specifying the `dtype` when creating a Series (or a Dataframe), by using `.astype()` or by using `pd.Categorical()`:

In [124]:
pd.Series(["cold", "hot", "warm", "warm", "cold", "hot", "hot"], dtype="category")  # categories are inferred as the unique values

0    cold
1     hot
2    warm
3    warm
4    cold
5     hot
6     hot
dtype: category
Categories (3, object): ['cold', 'hot', 'warm']

In [125]:
pd.Series(["cold", "hot", "warm", "warm", "cold", "hot", "hot"]).astype("category")

0    cold
1     hot
2    warm
3    warm
4    cold
5     hot
6     hot
dtype: category
Categories (3, object): ['cold', 'hot', 'warm']

In [126]:
s = pd.Categorical(values=["cold", "hot", "warm", "warm", "cold", "hot", "hot"],
                   categories=["cold", "warm", "hot"],
                   ordered=True)  # we can specify order=True to enforce the order
s

['cold', 'hot', 'warm', 'warm', 'cold', 'hot', 'hot']
Categories (3, object): ['cold' < 'warm' < 'hot']

- Categoricals have two main properties: `.categories` and `.ordered`

In [135]:
s.categories

Index(['cold', 'warm', 'hot'], dtype='object')

In [128]:
s.ordered

True

- Because our categories are ordered, we can do things like find the `.min()` and `.max()` and sort the values:

In [129]:
s.max()

'hot'

In [130]:
s.min()

'cold'

In [131]:
s.sort_values()

['cold', 'cold', 'warm', 'warm', 'hot', 'hot', 'hot']
Categories (3, object): ['cold' < 'warm' < 'hot']

- I don't find categoricals to be widely used... I personally never use them.
- I refer to you [the Pandas documenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html#categorical-data) for more info
- The main reason to use them would be:
    - For string data with just a few values
    - If you wish to specify the order of some data
    - To use with other libraries that use categoricals, especially plotting libraries like Seaborn and Altair

## Why ndarrays, Series and DataFrames?
---

You might be asking why we need all these different data structures:
- Well, they all serve different purposes and are suited to different tasks
- For example:
    - numpy is typically faster/uses less memory than pandas
    - not all Python packages are compatible with numpy & pandas
    - the ability to add labels to data can be useful
    - numpy and pandas have different built-in functions available
- My advice: use the simplest data structure that fulfills your needs!
- We've seen how to go from: ndarray (`np.array()`) -> series (`pd.series()`) -> dataframe (`pd.DataFrame()`)
- Remember that we can also go the other way: dataframe/series -> ndarray using `df.to_numpy()`